@{
    ViewBag.Title = "Home Page";
}

<head>
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Krona+One" rel="stylesheet">
    <style>

        h1 {
            font-family: 'Berkshire Swash', cursive;
            text-align: center;
            color: black;
        }


        .jumbotron button {
            border: solid 5px black;
            font-size: 30px;
            font-family: 'Audiowide', cursive;
        }

        h2 {
            color: white;
            font-family: 'Krona One', sans-serif;
            background-color:black;
        }

        p {
            color: white;
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            background-color:black;
        }
    </style>


</head>

<div class="jumbotron">
    <h1>Welcome TO The Car World</h1>
    <div id="image">
        <img src="https://www.bmw.ca/content/dam/bmw/marketCA/bmw_ca/images/Experience_/Driving_Experience/BMW_M-Thermal-Experience_mainteaser_1680x756_Jan2017.jpg/_jcr_content/renditions/cq5dam.resized.img.1680.large.time1515429369333.jpg" height="80%" width="100%">
    </div>
    <br />
    <br />

    <button type="button" class="btn btn-danger">Discover More</button>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Our Services</h2>
        <p>
            We strive to ensure our customers drive a reliable and safe motor vehicle. Our commitment includes performing regular maintenance to prevent unexpected breakdowns.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Find Out More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Company Info</h2>
        <p>We strive to ensure our customers drive a reliable and safe motor vehicle. Our commitment includes performing regular maintenance to prevent unexpected breakdowns. </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Find a retailer &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About Franchising</h2>
        <p>We're expanding our franchise system through strategic growth initiatives, which include focusing on the expansion of our locations base.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>